<nav class="navbar navbar-expand" >
  <div>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a routerLink="importdata" class="nav-link"><button class="btn btn-outline-primary"> Import Data</button></a>
          </li>
          <li class="nav-item">
              <a href="companydetails" src=""class="nav-link" ><button class="btn btn-outline-primary"> Company Details</button></a>
          </li>
          <li class="nav-item">
              <a href="stockExchange" class="nav-link"><button class="btn btn-outline-primary">Stock Exchange Details</button></a>
          </li>
          <li class="nav-item">
              <a href="UpdateIpo" class="nav-link"><button class="btn btn-outline-primary">Update IPO</button></a>
          </li>
      </ul>
  </div>
</nav>

<div id="body" class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <form [formGroup]="updateipo" class="form-group border p-5 border-curved mt-5">
            <p class="h1 text-muted text-uppercase text-center mb-4">UPDATE IPO</p>

            <label for="id">Company id:</label>
            <input type="number" class="form-control" placeholder="Enter id" formControlName="id">
            <label for="companyname">Company Name:</label>
            <input type="text" class="form-control" placeholder="Enter Company" formControlName="companyname">
            <label for="stockexchange">Stock Exchange:</label>
            <input type="text" class="form-control" placeholder="Enter Company" formControlName="stockexchange">
            <label for="ppshare">Price per Share:</label>
              <input type="number" class="form-control" placeholder="Price in Rupees" formControlName="ppshare">
            <label for="shares">No. of Shares:</label>
            <input type="number" class="form-control" placeholder="Total Number of Shares" formControlName="shares">
            <label for="datetime">Open Date-Time:</label><br>
            <input class="form-control" type="datetime-local" name="datetime" id="datetime" formControlName="datetime">
            <label for="remarks">Remarks:</label>
            <textarea class="form-control mb-4" name="remarks" id="remarks" cols="30" rows="3" placeholder="Remarks about this IPO"
            formContolName="remarks"></textarea>
            <button class="btn btn-primary text-dark text-center form-control" (click)="updateStockexchange()" [disabled]="addipo.valid">Update IPO</button>
          </form>
        </div>
    </div>
</div>
