<h2 class="text-center text-success display-3" >Stock Market Charting</h2>
 <nav class="navbar navbar-expand navbar-light bg-light fixed-header">
    <a class="navbar-brand" href="">
            </a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
      </button>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav justify-content-around w-100 text-center">
              <li class="nav-item active">
                  <a routerLink = "/home">Home</a>&nbsp;
              </li>
              <li class="nav-item">
                 <a routerLink = "/login">Login</a>&nbsp;
              </li>
              <li class="nav-item">
                <a routerLink = "/register" >Register</a>&nbsp;
            </li>
              <li class="nav-item">
                <a routerLink = "/users" >Users List</a>&nbsp;
            </li>
              <li class="nav-item">
                  <a routerLink = "/login" >Logout</a>
              </li>
              <li class="nav-item">
                <a routerLink = "/contactus" >Contact Us</a>
            </li>
              
          </ul>
      </div>
      <hr>
  </nav>

<div>
<router-outlet></router-outlet>
</div>



