<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>remarks</th>
        <th>actions</th>
    </tr>
    <tr *ngFor="let stock of stockexchange">
        <td>{{stock.id}}</td> 
        <td>{{stock.name}}</td>
        <td>{{stock.remarks}}</td>
        <td>
        <button class="btn btn-danger" (click)="deleteTheStockExchange(stock)">Delete</button>
         <button class="btn btn-danger" (click)="updateTheStockExchange(stock)">update</button></td>
    </tr>
</table>
